*~
.snakemake
SRR606249.k31.abundtrim.fq.gz
SRR1976948.abundtrim.fq.gz
bacteroides.csv
bacteroides.x.contigs.cont.csv
bacteroides/
checkm-hardtrim-plass.txt
checkm-hu.txt
checkm-megahit.txt
checkm-plass.txt
checkm.hardtrim-plass.bins/
checkm.hardtrim-plass.out/
checkm.hu.bins/
checkm.hu.out/
checkm.megahit.bins/
checkm.megahit.out/
checkm.plass.bins/
checkm.plass.out/
denticola.csv
denticola.x.contigs.cont.csv
denticola/
fuso-combined-node-list.txt.gz
fuso.reads.fa
fuso.reads.fa.megahit.fa
fuso.reads.fa.megahit.fa.assemble/
fuso/
gingivalis.csv
gingivalis.x.contigs.cont.csv
gingivalis/
hu-genomes
hu-s1/
hu-s1_k31_r1/
hu-s1_k31_r1_search_oh0/
megahit-containment.csv
podar-ref/
podar-ref_k31_r1/
podar-ref_k31_r1_search_oh0/
podarV/
podarV_k31_r1/
podarV_k31_r1_search_oh0/
podarV_k31_r1_search_oh0_bacteroides/
podarV_k31_r1_search_oh0_denticola/
podarV_k31_r1_search_oh0_fuso/
podarV_k31_r1_search_oh0_gingivalis/
podarV_k31_r1_search_oh0_ruminis/
ruminis-combined-node-list.txt.gz
ruminis.reads.fa
ruminis.reads.fa.megahit.fa
ruminis.reads.fa.megahit.fa.assemble/
ruminis/
